// pure colors
$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);

//text colors
$main-color: #1d3557;
$cta-color: #e63946;

// bg colors
$main-bg-color: #f1faee;
$secondary-bg-color: #457b9d;
$item-bg-color: #a8dadc;